<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>Modificar usuario</title>
</head>
<body>
<!--Boton para probar el modal fuera de la aplicación-->
<!--<button type="button" class="btn btn-primary btn-mg-b-10" data-toggle="modal" data-target="#myModal">-->
<!--Modificar-->
<!--</button>-->
<div id="panel_modificar" th:fragment="panel_modificar">
    <form role="form" class="text-center border border-light p-5" method="POST"
          action="/usuarios/modificar"
          enctype="multipart/form-data">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Panel Modificacion del usuario</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div>
                        <input type="hidden" name="idUsuario" class="border-0" id="idUsuario">
                    </div>
                    <div class="modal-body">
                        <form class="text-center border border-light p-2">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="personales-tab" data-toggle="tab" href="#home"
                                       role="tab"
                                       aria-controls="home"
                                       aria-selected="true">Datos personales</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profesionales-tab" data-toggle="tab" href="#contact"
                                       role="tab"
                                       aria-controls="contact" aria-selected="false">Datos profesionales</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <!--Panel Datos personales-->
                                <div class="tab-pane fade show active" id="home" role="tabpanel"
                                     aria-labelledby="personales-tab">
                                    <div class="form-row mb-4">
                                        <div class="col-1"></div>
                                        <!--Nombre-->
                                        <div class="col-4">
                                            <input type="text" id="nombre" name="nombre" class="form-control"
                                                   placeholder="Nombre" required>
                                        </div>
                                        <!--Apellidos-->
                                        <div class="col-6">
                                            <input type="text" id="apellidos" name="apellidos" class="form-control"
                                                   placeholder="Apellidos" required>
                                        </div>
                                        <div class="col-1"></div>
                                    </div>
                                    <div class="form-row mb-4">
                                        <!--Foto-->
                                        <div class="col-2"></div>
                                        <div class="col-3">
                                            <img id="foto_preview"
                                                 class="img-fluid w-75 h-auto border border-primary">
                                        </div>
                                        <!--Seleccionar foto-->
                                        <div class="col-5 my-auto text-left">
                                            <small>
                                                Selecionar foto del usuario
                                            </small>
                                            <div class="card card-block w-100">
                                                <input id="foto_usuario" name="file" type="file" value="foto_usuario"
                                                       accept="image/jpeg,image/png"
                                                       onchange="preview_image(event)">
                                            </div>
                                        </div>
                                        <div class="col-2"></div>
                                    </div>
                                </div>
                                <!--Panel Datos profesionales-->
                                <div class="tab-pane fade" id="contact" role="tabpanel"
                                     aria-labelledby="profesionales-tab">
                                    <p></p>
                                    <div class="form-row mb-4">
                                        <div class="col-3"></div>
                                        <div class="col-4 align-content-center">
                                            <!-- Username-->
                                            <input type="text" id="username" name="username" class="form-control mb-4"
                                                   placeholder="username" readonly>

                                            <!-- Contraseña -->
                                            <input type="text" id="passwd" name="passwd" class="form-control"
                                                   placeholder="contraseña" readonly>
                                        </div>
                                        <div class="col-2">
                                            <button class="btn btn-info my-4 btn-block"
                                                    formaction="javascript:generarCampos()">Generar
                                            </button>
                                            <span class="small float-left">Al pulsar se generarán un nuevos usuario y contraseñaa</span>
                                        </div>
                                    </div>
                                    <div class="form-row mb-4">
                                        <div class="col-3"></div>
                                        <div class="col-4">
                                            <select id="selector_perfiles" name="idPerfil">
                                                <option th:each="perfil:${listaPerfiles}" th:value="${perfil.idPerfil}"
                                                        th:text="${perfil.nombrePerfil}"></option>
                                            </select>
                                        </div>
                                        <div class="col-3">
                                            <input type="hidden" id="origen" name="origen" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="col-4">
                            <button class="btn btn-danger btn-rounded" type="submit" formaction="/usuariois/eliminar">
                                Eliminar
                            </button>
                        </div>
                        <div class="col-4">
                        </div>
                        <div class="col-4 text-right">
                            <button id="btn_crear" class="btn btn-info my-4 btn-block" type="submit">Modificar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>