<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--Contenido-->
<form class="text-center border border-light p-5">
    <p class="h4 mb-4">Registro de usuario</p>
    <hr/>
    <!--Datos personales-->
    <p class="h6 mb-4">Datos personales</p>
    <div class="form-row mb-4">
        <div class="col-1"></div>
        <!--Nombre-->
        <div class="col-4">
            <input type="text" id="nombre" class="form-control" placeholder="Nombre">
        </div>
        <!--Apellidos-->
        <div class="col-6">
            <input type="text" id="apellidos" class="form-control" placeholder="Apellidos">
        </div>
        <div class="col-1"></div>
    </div>
    <div class="form-row mb-4">
        <!--Foto-->
        <div class="col-2"></div>
        <div class="col-3">
            <img th:src="@{/img/foto_user.jpg}" class="img-fluid w-50 h-auto">
        </div>
        <!--Seleccionar foto-->
        <div class="col-5 my-auto text-left">
            <small class="form-text text-muted mb-4">
                Selecionar foto del usuario
            </small>
            <div class="card card-block w-100">
                <input id="foto" type="file"  accept="image/jpeg,image/png">
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <hr/>
    <!--Datos profesionales-->
    <p class="h6 mb-4">Datos profesionales</p>
    <div class="form-row mb-4">
        <div class="col-3"></div>
        <div class="col-4">
            <!-- Username-->
            <input type="text" id="username" class="form-control mb-4" placeholder="username" readonly>

            <!-- Contraseña -->
            <input type="text" id="passwd" class="form-control" placeholder="contraseña" readonly>
        </div>
        <div class="col-2">
            <button class="btn btn-info my-4 btn-block" type="submit" formaction="javascript:generarCampos()">Generar</button>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="form-row mb-4">
        <div class="col-3"></div>
        <div class="col-4">
            <select id="perfil" class="mdb-select md-form">
                <option value="default" disabled selected>Seleccionar perfil</option>
                <option value="ROLE_USER">Usuario</option>
                <option value="ROLE_CLEAN">Limpieza</option>
                <option value="ROLE_ADMIN">Admistrador</option>
            </select>
        </div>
        <div class="col-3"></div>
    </div>
    <hr/>
    <!-- Sign up button -->
    <div class="form-row mb-4">
        <div class="col-2"></div>
        <div class="col-2">
            <button class="btn btn-info my-4 btn-block" type="submit" formaction="javascript:limpiarFormulario()">Limpiar</button>
        </div>
        <div class="col-4"></div>
        <div class="col-2">
            <button class="btn btn-info my-4 btn-block" type="submit" formaction="javascript:crearNuevousuario()">Crear</button>
        </div>
        <div class="col-2"></div>
    </div>
</form>
<!-- Default form register -->
<script>
    function formulario() {
        if ($_POST['action'] === 'Crear') {
            //action for update here
            console.log("crear usuario");
        } else if ($_POST['action'] === 'Limpiar') {
            //action for delete
            console.log("limpiar formulario");
        } else {
            //invalid action!
            console.log("generar campos");
        }
    }
</script>
</body>
</html>