#cuerpo{
    margin-left: 10%;
}

.table thead tr{
    background-color: rgb(115, 134, 213);
    color: white;
}

.modal-content {
    min-width: 800px;
    width: 100%;
}

.error_class{
    text-align: left;
}

input[data-readonly] {
    pointer-events: none;
}

.highlight{
    background-color: #6c757d;
}

/*.table-scroll {*/
    /*display: block;*/
    /*max-height: 200px;*/
    /*overflow-y: auto;*/
    /*-ms-overflow-style: -ms-autohiding-scrollbar;*/
/*}*/

#table-wrapper {
    position:relative;
}
#table-scroll {
    height:150px;
    overflow:auto;
    margin-top:20px;
}
#table-wrapper table {
    width:100%;

}
#table-wrapper table thead th input,
#table-wrapper table thead th .text {
    position:absolute;
    top:-20px;
    z-index:2;
    height:20px;
    width:35%;
}

/*CSS para mantener cabecera tabla fija*/
/*.header-fixed {*/
    /*width: 100%*/
/*}*/

/*.header-fixed > thead,*/
/*.header-fixed > tbody,*/
/*.header-fixed > thead > tr,*/
/*.header-fixed > tbody > tr,*/
/*.header-fixed > thead > tr > th,*/
/*.header-fixed > tbody > tr > td,*/
/*.header-fixed > tbody > tr > td >input{*/
    /*display: block;*/
/*}*/

/*.header-fixed > tbody > tr:after,*/
/*.header-fixed > thead > tr:after {*/
    /*content: ' ';*/
    /*display: block;*/
    /*visibility: hidden;*/
    /*clear: both;*/
/*}*/

/*.header-fixed > tbody {*/
    /*overflow-y: auto;*/
    /*height: 150px;*/
/*}*/

/*.header-fixed > tbody > tr > td,*/
/*.header-fixed > tbody > tr > td >input,*/
/*.header-fixed > thead > tr > th {*/
    /*!*width: 20%;*!*/
    /*float: left;*/
    /*text-align: center;*/
/*}*/

/*Scrollbar, solo para Chrome, Safari, Opera.*/
/* ancho */
 ::-webkit-scrollbar {
     width: 5px;
 }

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2c3acc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}