<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>Asignacion de Reservas</title>
    <!--<script src="../../../static/js/gestapart.js"></script>-->
    <!--<script src="../../../static/js/jquery-3.3.1.js"></script>-->
    <!--<script src="../../../static/js/popper.min.js"></script>-->
    <!--<link rel="stylesheet" href="../../../static/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="../../../static/css/gestapart.css">-->
    <!--<link rel="stylesheet" href="../../../static/css/style.css">-->
    <!--<script src="../../../static/js/bootstrap.min.js"></script>-->
    <!--<script src="../../../static/fonts/fontawesome.js"></script>-->
    <!--<script src="../../../static/fonts/solid.js"></script>-->

    <!--TODO: hacer un modal para asignar apartamento y parking por id o por capacidad en caso de los apartamentos. Los parkings ya veremos-->
</head>
<body>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Open modal
</button>
<div id="panel_asignacion" th:fragment="panel_asignacion">
    <form action="/reservas/asignar" role="form" class="text-center border border-light p-5" method="POST">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Panel de Asignacion de Reservas</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center border border-light p-2">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="por_id-tab" data-toggle="tab"
                                       href="#tab_apartamentos"
                                       role="tab"
                                       aria-controls="tab_apartamentos"
                                       aria-selected="true">Apartamentos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="por_capacidad-tab" data-toggle="tab" href="#tab_huesped"
                                       role="tab"
                                       aria-controls="tab_huesped" aria-selected="false">Huesped Principal</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="propietario-tab" data-toggle="tab" href="#tab_parking"
                                       role="tab"
                                       aria-controls="tab_parking" aria-selected="false">Parking</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <!--Panel Apartamento-->
                                <p>
                                    <!--Campos ocultos-->
                                    <input type="hidden" id="idReserva" name="idReserva">
                                    <input type="hidden" id="origen" name="origen">
                                    <!--<input type="hidden" id="apartamentoSeleccionado" name="apartamentoSeleccionado">-->
                                </p>
                                <h6 class="text-center">Apartamento seleccionado</h6>
                                <div class="tab-pane fade show active" id="tab_apartamentos" role="tabpanel"
                                     aria-labelledby="tab_apartamentos">
                                    <div class="form-row mb-4">
                                        <table id="tabla_apart_select" class="table table-primary">
                                            <tbody id="tb_apart_select">
                                            <tr>
                                                <td id="idselect"></td>
                                                <td id="capacidadselect"></td>
                                                <td id="direccionselect" class="col-6"></td>
                                                <td id="pisoselect"></td>
                                                <td id="puertaselect"></td>
                                                <td>
                                                    <input type="radio" class="form-check-input"
                                                           name="apartamentoSeleccionado" checked>
                                                </td>
                                            </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                    <h6 class="text-center">Seleccionar otro Apartamento</h6>
                                    <!--<div class="form-row mb-4">-->
                                        <div id="table-wrapper">
                                            <div id="table-scroll">
                                                <table id="tabla_id_apartamentos" class="table table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th style="width: 10%">Id</th>
                                                        <th style="width: 10%">Capacidad</th>
                                                        <th style="width: 40%">Direccion</th>
                                                        <th style="width: 10%">Piso</th>
                                                        <th style="width: 10%;">Puerta</th>
                                                        <th style="width: 20%;">Asignar</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="tb_id_apartamentos">
                                                    <tr th:if="${#lists.isEmpty(listaPorCapacidad)}">
                                                        <td colspan="8" class="text-center">Ningun apartamento disponible</td>
                                                    </tr>
                                                    <tr th:each="apartamento : ${listaPorCapacidad}">
                                                        <td style="width: 10%"><span
                                                                th:text="${apartamento.idApartamento}"> </span></td>
                                                        <td style="width: 10%"><span
                                                                th:text="${apartamento.capacidad.maxPersonas}"> </span></td>
                                                        <td style="width: 40%"><span
                                                                th:text="${apartamento.direccion}">  </span></td>
                                                        <td style="width: 20%"><span th:text="${apartamento.piso}">  </span>
                                                        </td>
                                                        <td style="width: 10%"><span th:text="${apartamento.puerta}">  </span>
                                                        </td>
                                                        <td style="width: 10%">
                                                            <input th:value="${apartamento.idApartamento}" type="radio" class="form-check"
                                                                   name="apartamentoSeleccionado">
                                                        </td>
                                                    </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    <!--</div>-->
                                </div>
                                <!--Panel Huesped Principal-->
                                <div class="tab-pane fade" id="tab_huesped" role="tabpanel"
                                     aria-labelledby="tab_huesped">
                                    <p></p>
                                    <div class="form-row mb-4">
                                        <!--Nombre-->
                                        <label for="nombre" class="col-sm-2 col-form-label">Nombre: </label>
                                        <div class="col-sm-10">
                                            <input type="text" id="nombre" name="nombre"
                                                   class="form-control float-right"
                                                   required>
                                        </div>
                                    </div>
                                    <div class="form-row mb-4">
                                        <!--Apellidos-->
                                        <label for="apellidos" class="col-sm-2 col-form-label">Apellidos: </label>
                                        <div class="col-sm-10">
                                            <input type="text" id="apellidos" name="apellidos"
                                                   class="form-control float-right"
                                                   required>
                                        </div>
                                    </div>
                                    <div class="form-row mb-4">
                                        <!--Telefono-->
                                        <label for="telefono" class="col-sm-2 col-form-label">Telefono: </label>
                                        <div class="col-sm-10">
                                            <input type="text" id="telefono" name="telefono"
                                                   class="form-control float-right"
                                                   required>
                                        </div>
                                    </div>
                                    <div class="form-row mb-4">
                                        <!--Email-->
                                        <label for="email" class="col-sm-2 col-form-label">Email: </label>
                                        <div class="col-sm-10">
                                            <input type="text" id="email" name="email"
                                                   class="form-control float-right"
                                                   required>
                                        </div>
                                    </div>
                                    <div class="form-row mb-4">
                                        <!--DNI-->
                                        <label for="dni" class="col-sm-2 col-form-label">NIF/DNI: </label>
                                        <div class="col-sm-10">
                                            <input type="text" id="dni" name="dni"
                                                   class="form-control float-right"
                                                   required>
                                        </div>
                                    </div>
                                </div>
                                <!--Panel Parking-->
                                <div class="tab-pane fade" id="tab_parking" role="tabpanel"
                                     aria-labelledby="tab_parking">
                                    <p></p>
                                    <!--<div class="form-row mb-4">-->
                                        <!--<table id="tabla_parking" class="table table-hover">-->
                                            <!--<thead>-->
                                            <!--<tr>-->
                                                <!--<th>Id</th>-->
                                                <!--<th>Foto</th>-->
                                                <!--<th>Direccion</th>-->
                                                <!--<th>Capacidad</th>-->
                                                <!--<th>Piso</th>-->
                                                <!--<th>Puerta</th>-->
                                                <!--<th></th>-->
                                            <!--</tr>-->
                                            <!--</thead>-->
                                            <!--<tbody id="tb_parking">-->
                                            <!--<tr th:if="${#lists.isEmpty(listaParkingsDisponibles)}">-->
                                                <!--<td colspan="8" class="text-center">Ningun apartamento disponible</td>-->
                                            <!--</tr>-->
                                            <!--<tr th:each="apartamento : ${listaParkingsDisponibles}" data-toggle="modal"-->
                                                <!--data-target="#myModal"-->
                                                <!--onclick="cargarModalListaApartamentos(this,'disponibles')">-->
                                                <!--<td><span th:text="${apartamento.idApartamento}"> </span></td>-->
                                                <!--<td><img class="rounded-circle img-fluid w-25 h-auto float-left"-->
                                                         <!--th:src="'data:image/png;base64,'+${apartamento.foto}"/></td>-->
                                                <!--<td><span th:text="${apartamento.direccion}">  </span></td>-->
                                                <!--<td th:title="${apartamento.capacidad.idCapacidad}"><span-->
                                                        <!--th:text="${apartamento.capacidad.maxPersonas}">  </span></td>-->
                                                <!--<td><span th:text="${apartamento.piso}">  </span></td>-->
                                                <!--<td><span th:text="${apartamento.puerta}">  </span></td>-->
                                            <!--</tr>-->
                                            <!--</tbody>-->

                                        <!--</table>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-4">
                        </div>
                        <div class="col-4">
                        </div>
                        <div class="col-4 text-right">
                            <!--<button type="button" class="btn btn-secondary btn-rounded" type onclick="/modificarUsuario">Modificar</button>-->
                            <input id="btn_crear" class="btn btn-info my-4 btn-block" type="submit" value="Asignar"/><
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    // TODO:Hacer que se seleccione automaticamente el apartamento que te salia en la reserva y comprobar que llega al controller los datos
    //     var rows = document.getElementById('tabla_id_apartamentos').getElementsByTagName('tbody')[0].getElementsByTagName('tr');
    //     for (i = 0; i < rows.length; i++) {
    //         rows[i].onclick = function() {
    //             if($(this).hasClass("highlight"))
    //                     $(this).removeClass('highlight');
    //                 else
    //                     $(this).addClass('highlight').siblings().removeClass('highlight');
    //             var td_idApartamento = this.children[0].innerText;
    //             $('#apartamentoSeleccionado').val(td_idApartamento);
    //             console.log("Seleccionada fila: "+this.rowIndex);
    //         }
    //     }

    // $("#tb_id_apartamentos").click(function(){
    //     if($(this).hasClass("highlight"))
    //         $(this).removeClass('highlight');
    //     else
    //         $(this).addClass('highlight').siblings().removeClass('highlight');
    // })
    function f() {
        console.log("presiono asignar");
    }
</script>
</body>
</html>

<!--TODO: revisar jquery para rellenar el modal y volcar datos en las distintas pestañas-->