<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>Asignacion de Reservas</title>
    <script src="../../../static/js/gestapart.js"></script>
    <script src="../../../static/js/jquery-3.3.1.js"></script>
    <script src="../../../static/js/popper.min.js"></script>
    <link rel="stylesheet" href="../../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/css/gestapart.css">
    <link rel="stylesheet" href="../../../static/css/style.css">
    <script src="../../../static/js/bootstrap.min.js"></script>
    <script src="../../../static/fonts/fontawesome.js"></script>
    <script src="../../../static/fonts/solid.js"></script>

<!--TODO: hacer un modal para asignar apartamento y parking por id o por capacidad en caso de los apartamentos. Los parkings ya veremos-->
</head>
<body>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Open modal
</button>
<div id="panel_asignacion" th:fragment="panel_asignacion">
    <form role="form" class="text-center border border-light p-5" method="POST"
          action="/reservas/asignacion"
          enctype="multipart/form-data">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Panel de Asignacion de Reservas</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="text-center border border-light p-2">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="por_id-tab" data-toggle="tab" href="#home"
                                       role="tab"
                                       aria-controls="home"
                                       aria-selected="true">Por Id Reserva</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="por_capacidad-tab" data-toggle="tab" href="#tab_capacidad"
                                       role="tab"
                                       aria-controls="contact" aria-selected="false">Por Capacidad</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="propietario-tab" data-toggle="tab" href="#tab_parking"
                                       role="tab"
                                       aria-controls="contact" aria-selected="false">Parking</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <!--Panel Por ID Reserva-->
                                <p>
                                    <!--Campos ocultos-->
                                    <input type="hidden" id="idPropietario" name="idPropietario">
                                    <input type="hidden" id="origen" name="origen" class="form-control">
                                </p>
                                <div class="tab-pane fade show active" id="home" role="tabpanel"
                                     aria-labelledby="por_id-tab">
                                    <div class="form-row mb-4">
                                        <table id="tabla_id_reserva" class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Foto</th>
                                                <th>Direccion</th>
                                                <th>Capacidad</th>
                                                <th>Piso</th>
                                                <th>Puerta</th>
                                            </tr>
                                            </thead>
                                            <tbody id="tb_id_reserva">
                                            <tr>
                                                <td id="idApartamento" th:name="idApartamento"></td>
                                                <td id="foto"></td>
                                                <td id="direccion"></td>
                                                <td id="capacidad"></td>
                                                <td id="piso"></td>
                                                <td id="puerta"></td>
                                            </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                                <!--Panel Por Capacidad-->
                                <div class="tab-pane fade" id="tab_capacidad" role="tabpanel"
                                     aria-labelledby="por_capacidad-tab">
                                    <p></p>
                                    <div class="form-row mb-4">
                                        <table id="tabla_capacidad" class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Foto</th>
                                                <th>Direccion</th>
                                                <th>Capacidad</th>
                                                <th>Piso</th>
                                                <th>Puerta</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody id="tb_capacidad">
                                            <tr th:if="${#lists.isEmpty(lista)}">
                                                <td colspan="8" class="text-center">Ningun apartamento disponible</td>
                                            </tr>
                                            <tr th:each="apartamento : ${lista}" data-toggle="modal" data-target="#myModal" onclick="cargarModalListaApartamentos(this,'disponibles')">
                                                <td><span th:text="${apartamento.idApartamento}"> </span></td>
                                                <td ><img class="rounded-circle img-fluid w-25 h-auto float-left"
                                                          th:src="'data:image/png;base64,'+${apartamento.foto}"/></td>
                                                <td><span th:text="${apartamento.direccion}">  </span></td>
                                                <td th:title="${apartamento.capacidad.idCapacidad}"><span th:text="${apartamento.capacidad.maxPersonas}">  </span></td>
                                                <td><span th:text="${apartamento.piso}">  </span></td>
                                                <td><span th:text="${apartamento.puerta}">  </span></td>
                                            </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                                <!--Panel Parking-->
                                <div class="tab-pane fade" id="tab_parking" role="tabpanel"
                                     aria-labelledby="por_capacidad-tab">
                                    <p></p>
                                    <div class="form-row mb-4">
                                        <table id="tabla_parking" class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Foto</th>
                                                <th>Direccion</th>
                                                <th>Capacidad</th>
                                                <th>Piso</th>
                                                <th>Puerta</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody id="tb_parking">
                                            <tr th:if="${#lists.isEmpty(lista)}">
                                                <td colspan="8" class="text-center">Ningun apartamento disponible</td>
                                            </tr>
                                            <tr th:each="apartamento : ${lista}" data-toggle="modal" data-target="#myModal" onclick="cargarModalListaApartamentos(this,'disponibles')">
                                                <td><span th:text="${apartamento.idApartamento}"> </span></td>
                                                <td ><img class="rounded-circle img-fluid w-25 h-auto float-left"
                                                          th:src="'data:image/png;base64,'+${apartamento.foto}"/></td>
                                                <td><span th:text="${apartamento.direccion}">  </span></td>
                                                <td th:title="${apartamento.capacidad.idCapacidad}"><span th:text="${apartamento.capacidad.maxPersonas}">  </span></td>
                                                <td><span th:text="${apartamento.piso}">  </span></td>
                                                <td><span th:text="${apartamento.puerta}">  </span></td>
                                            </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="col-4">
                        </div>
                        <div class="col-4">
                        </div>
                        <div class="col-4 text-right">
                            <!--<button type="button" class="btn btn-secondary btn-rounded" type onclick="/modificarUsuario">Modificar</button>-->
                            <button id="btn_crear" class="btn btn-info my-4 btn-block" type="submit">Asingar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>